/**
 * Orders - Адаптивные стили
 * Все @media запросы для адаптивности
 */

@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .controls {
    width: 100%;
    flex-wrap: wrap;
  }
  
  .statsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .statsGrid {
    grid-template-columns: 1fr;
  }
  
  .filters {
    flex-direction: column;
    align-items: stretch;
  }
  
  .filterGroup {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .filterInput {
    width: 100%;
  }
}


